@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    background-color: hsl(185, 75%, 39%);
    background-image: url("images/bg-pattern-top.svg"), 
                      url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, 
                       no-repeat;
    background-position: left -120% top 120%, 
                         right -100% top -120%;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;                     
}
main{
    width: 27%;
    margin: 10% auto;
    position: relative;
    border-radius: 15px;
    background-color: #fff;
}
.cover{
    width: 100%; 
    height: 25%;
}
.cover-img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.prof-img{
    position: absolute;
    border-radius: 50%;
    border: 4px solid #fff;
    width: 26%;
    top: 25%;
    left: 37%;
}
.main-div{
    text-align: center;   
}
h1{
    font-size: 1.2rem;
    margin-top: 17%;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}
span{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 0.5rem;
}
.london{
    color: hsl(0, 0%, 59%);
    font-size: 0.8rem;
}
hr{
    border: none;
    border-top: 1px solid hsl(0, 0%, 89%);
    margin: 5% 0;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 7% auto;
}
h2{
    margin: 0;
    color:hsl(229, 23%, 23%);
    font-size: 1.2rem;
    font-weight: 700;
}
.social p{
    margin-top: 2%;
    color: hsl(0, 0%, 59%);
    font-size: 0.7rem;
}

@media screen and (max-width:700px) {
    
    body{
        background-position: left 150% top 150%, 
                             right 130% top -100%;
    }
    main{
        width: 80%;
        margin: 20% auto;
    }

}